<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>URL SHORTENER (INDICINA)</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h3 class="navbar-brand mx-5 mt-5">Indicina coding assignment please hire meeeee :)</h3>

    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex ">
          <div class="card w-50 mx-5">
            <div class="card-header">
              <h3>URL ENCODER</h3>
            </div>
            <div class="card-body">
              <form method="POST" action="/encode">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter URL"
                    name="url"
                    placeholder="Enter URL"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>

          
      <div class="card w-50">
        <div class="card-header">
          <h3>URL DECODER</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="/decode">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter URL"
                name="url"
                placeholder="Enter URL"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
          
        </div>
      </div>

        </div>
      </div>
    </div>


    <table  class="table table-bordered w-25 mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Short Url</th>
            <th scope="col">Clicked</th>
          </tr>
        </thead>
        <% shortenedUrls.forEach((url, index) => { %>
          <tr>
              <td><%=index + 1%></td>
              <td><a href="<%= url %>"><%= url %></a></td>
              <td><%= urlDatabase[url].hits %></td>
              <td><a href="/statistics/<%=url %>" class="btn btn-danger">Details</a></td>
          </tr>
      <% }); %>
      </table>

     
      
      

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
